:root {
  --reset-height: 90px;
  --grid-height: 95vw;
  --heading-height: calc(95vh - var(--grid-height) - var(--reset-height));
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: sans-serif;
  background-color: rgb(240, 212, 204);
  font-family: "ZCOOL KuaiLe", cursive;
}

header {
  height: var(--heading-height - 40px);
  display: flex;
  flex-direction: column;
  align-items: center;
}

body p {
  font-size: 100%;
}
body p1 {
  padding: 10px;
  margin-bottom: 20px;
}

.settingBtn {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

#size {
  margin-top: 15px;
  margin-right: 6px;
}

#gridNum,
#rainbowBtn,
#darkBtn {
  width: 40%;
  border-style: none;
  border-radius: 6px;
  padding-right: 25px;
}

#gridNum {
  border-color: black;
}

#rainbowBtn {
  color: black;
  background-image: linear-gradient(
    to right,
    #e7484f,
    #e7484f 16.65%,
    #f68b1d 16.65%,
    #f68b1d 33.3%,
    #fced00 33.3%,
    #fced00 49.95%,
    #009e4f 49.95%,
    #009e4f 66.6%,
    #00aac3 66.6%,
    #00aac3 83.25%,
    #732982 83.25%,
    #732982 100%,
    #e7484f 100%
  );
  animation: slidebg 5s linear infinite;
}
#darkBtn {
  background-color: rgb(81, 82, 82);
  color: white;
}

button {
  cursor: pointer;
}

#squares {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: var(--grid-height);
  width: var(--grid-height);
  touch-action: none;
  /*
    you still have to style this div to make the .boxes appear in a grid
    this could be done via a few ways but it would be nice if you did it 
    at least using flexbox/`flex-wrap`, but it would also be good to try to 
    do it with css grids as well
    */
}

.box {
  background-color: whitesmoke;
}

#reset {
  background-color: whitesmoke;
  color: black;
  border-style: none;
  border-radius: 6px;
  margin-top: 10px;
  height: var(--reset-height + 4px);
  padding: 0px 30px;
}

/* ===========================================================*/
/* ======================Tablet Styles =======================*/
/* ===========================================================*/
/* 
@media (min-width: 700px) {
  body {
    background-color: sandybrown;
  }
} */

/* ===========================================================*/
/* ===================== Desktop Styles ======================*/
/* ===========================================================*/
/* 
@media (min-width: 1100px) {
  body {
    background-color: cornflowerblue;
  }
} */
